<ion-header [translucent]="true">
    <ion-toolbar color="back">
        <img src="assets/img/Logo-Duoc.png" alt="Imagen de encabezado" class="imagen-encabezado">
        <ion-title class="titulo">Sistema de Asistencia DUOC</ion-title>
    </ion-toolbar>
</ion-header>


<ion-content>
    <br><br><br><br><br>

    <ion-card class="ion-text-center">
        <br>
        <img src="/assets/img/error.jpg" alt="Imagen bonita y elegante" width="225px" height="225px">
        <ion-card-content>
            <h1>¡Incorrecto!</h1>
            <p>Lo sentimos los datos ingresados no son correctos.</p>
            <ion-label>
                <br>
                <a (click)="retunrlogin()">Iniciar Sesion</a>
            </ion-label>
        </ion-card-content>
    </ion-card>
</ion-content>